{
  "swagger": "2.0",
  "info": {
    "title": "BeezUP Merchant API ",
    "description": "# The REST API of BeezUP system\n## Overview\nThe REST APIs provide programmatic access to read and write BeezUP data. \nBasically, with this API you will be able to do everything like you were with your browser on https://go.beezup.com !\n\nThe main features are:\n- Register and manage your account\n- Create and manage and share your stores with your friends/co-workers.\n- Import your product catalog and schedule the auto importation\n- Search the channels your want to use\n- Configure your channels for your catalogs to export your product information:\n    - cost and general settings\n    - category and columns mappings\n    - your will be able to create and manage your custom column\n    - put in place exlusion filters based on simple conditions on your product data\n    - override product values\n    - get product vision for a channel catalog scope\n- Analyze and optimize your performance of your catalogs on all yours channels with different type of reportings by day, channel, category and by product.\n- Automatize your optimisation by using rules!\n- And of course... Manage your orders harvested from all your marketplaces:\n    - Synchronize your orders in an uniformized way\n    - Get the available actions and update the order status\n- ...and more!\n\n## Authentication credentials\nThe public API with the base path **/v2/public** have been put in place to give you an entry point to our system for the user registration, login and lost password. The public API does not require any credentials.\nWe give you the some public list of values and public channels for our public commercial web site [www.beezup.com](http://www.beezup.com).\n\nThe user API with the base path **/v2/user** requires a token which is available on this page:\nhttps://go.beezup.com/Account/MyAccount\n\n## Things to keep in mind\n### API Rate Limits\n- The BeezUP REST API is limited to 100 calls/minute.\n\n### Media type\nThe default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.\n\n### Required content type\nThe required and default encoding for the request and responses is UTF8.\n\n### Required date time format\nAll our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.\n\n### Base URL\nThe Base URL of the BeezUP API Order Management REST API conforms to the following template.\n\nhttps://api.beezup.com\n\nAll URLs returned by the BeezUP API are relative to this base URL, and all requests to the REST API must use this base URL template.\n\nYou can test our API on https://api-docs.beezup.com/swagger-ui\\\\\nYou can contact us on [gitter, #BeezUP/API](https://gitter.im/BeezUP/API)",
    "version": "2.0",
    "x-logo": {
      "url": "https://avatars0.githubusercontent.com/u/25665430",
      "backgroundColor": "#FFFFFF"
    },
    "contact": {
      "email": "help@beezup.com"
    },
    "license": {
      "name": "BeezUP",
      "url": "https://www.beezup.com/"
    }
  },
  "host": "api.beezup.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Public - Security - Security",
      "x-displayName": "Security"
    },
    {
      "name": "Public - Channels - Public Channels",
      "x-displayName": "Public Channels"
    },
    {
      "name": "Public - List of Values - LOV",
      "x-displayName": "LOV"
    },
    {
      "name": "User - List of Values - LOV",
      "x-displayName": "LOV"
    },
    {
      "name": "Customer - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Customer - Account",
      "x-displayName": "Account"
    },
    {
      "name": "Customer - Security",
      "x-displayName": "Security"
    },
    {
      "name": "Customer - Stores",
      "x-displayName": "Stores"
    },
    {
      "name": "Customer - Shares",
      "x-displayName": "Shares"
    },
    {
      "name": "Customer - Alerts",
      "x-displayName": "Alerts"
    },
    {
      "name": "Customer - Rights",
      "x-displayName": "Rights"
    },
    {
      "name": "Customer - Friends",
      "x-displayName": "Friends"
    },
    {
      "name": "Customer - Contracts",
      "x-displayName": "Contracts"
    },
    {
      "name": "Customer - Invoices",
      "x-displayName": "Invoices"
    },
    {
      "name": "Catalogs - Auto",
      "x-displayName": "Auto"
    },
    {
      "name": "Catalogs - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Catalogs - Importation Process",
      "x-displayName": "Importation Process"
    },
    {
      "name": "Catalogs - Importation Catalog Info",
      "x-displayName": "Importation Catalog Info"
    },
    {
      "name": "Catalogs - Catalog",
      "x-displayName": "Catalog"
    },
    {
      "name": "Catalogs - Replication",
      "x-displayName": "Replication"
    },
    {
      "name": "Channels - Channels Global",
      "x-displayName": "Channels Global"
    },
    {
      "name": "Channel Catalogs - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Channel Catalogs - Settings",
      "x-displayName": "Settings"
    },
    {
      "name": "Channel Catalogs - Column Mappings",
      "x-displayName": "Column Mappings"
    },
    {
      "name": "Channel Catalogs - Categories",
      "x-displayName": "Categories"
    },
    {
      "name": "Channel Catalogs - Exclusion Filters",
      "x-displayName": "Exclusion Filters"
    },
    {
      "name": "Channel Catalogs - Products",
      "x-displayName": "Products"
    },
    {
      "name": "Channel Catalogs - Products Overrides",
      "x-displayName": "Products Overrides"
    },
    {
      "name": "Channel Catalogs - Products Optimisation",
      "x-displayName": "Products Optimisation"
    },
    {
      "name": "Channel Catalogs - Exportations",
      "x-displayName": "Exportations"
    },
    {
      "name": "Channel Catalogs - Attributes",
      "x-displayName": "Attributes"
    },
    {
      "name": "Channel Catalogs - Replication",
      "x-displayName": "Replication"
    },
    {
      "name": "Marketplaces - Channel catalogs - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Marketplaces - Channel catalogs - Publications",
      "x-displayName": "Publications"
    },
    {
      "name": "Marketplaces - Channel catalogs - Settings",
      "x-displayName": "Settings"
    },
    {
      "name": "Marketplaces - Orders - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Marketplaces - Orders - AutoTransitions",
      "x-displayName": "AutoTransitions"
    },
    {
      "name": "Marketplaces - Orders - List",
      "x-displayName": "List"
    },
    {
      "name": "Marketplaces - Orders - Order",
      "x-displayName": "Order"
    },
    {
      "name": "Marketplaces - Orders - Batches",
      "x-displayName": "Batches"
    },
    {
      "name": "Marketplaces - Orders - Exports",
      "x-displayName": "Exports"
    },
    {
      "name": "Marketplaces - Orders V3 - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Marketplaces - Orders V3 - List",
      "x-displayName": "List"
    },
    {
      "name": "Marketplaces - Orders V3 - Order",
      "x-displayName": "Order"
    },
    {
      "name": "Marketplaces - Orders V3 - Batches",
      "x-displayName": "Batches"
    },
    {
      "name": "Marketplaces - Orders - Subscriptions - Subscriptions",
      "x-displayName": "Subscriptions"
    },
    {
      "name": "Analytics - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Analytics - Tracking",
      "x-displayName": "Tracking"
    },
    {
      "name": "Analytics - Statistics",
      "x-displayName": "Statistics"
    },
    {
      "name": "Analytics - Optimisations",
      "x-displayName": "Optimisations"
    },
    {
      "name": "Analytics - Reports",
      "x-displayName": "Reports"
    },
    {
      "name": "Analytics - Rules",
      "x-displayName": "Rules"
    },
    {
      "name": "Channel Catalogs - Legacy Tracking - Global",
      "x-displayName": "Global"
    },
    {
      "name": "OM Invoice - API - Settings",
      "x-displayName": "Settings"
    },
    {
      "name": "OM Invoice - API - Generation",
      "x-displayName": "Generation"
    }
  ],
  "paths": {
    "/v2/public/security/login": {
      "post": {
        "tags": [
          "Public - Security - Security"
        ],
        "summary": "Login",
        "description": "User Login - The login will give your tokens",
        "operationId": "Login",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/loginRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Your tokens",
            "schema": {
              "$ref": "#/definitions/apiCredentials"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "403": {
            "description": "Invalid credentials"
          },
          "500": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/public/security/login/mfa": {
      "post": {
        "tags": [
          "Public - Security - Security"
        ],
        "summary": "Login",
        "description": "Checks if user has MFA Enabled - if he does sends the OTP email related, else he login will give your tokens",
        "operationId": "LoginMFA",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/otpLoginRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Your tokens",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ApiCredentials"
            }
          },
          "202": {
            "description": "One time password sent by email"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "401": {
            "description": "OTP required for authentication",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "otp_required"
                },
                "message": {
                  "type": "string",
                  "example": "Please provide your One-Time Password"
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials"
          },
          "500": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/public/security/register": {
      "post": {
        "tags": [
          "Public - Security - Security"
        ],
        "summary": "User Registration",
        "description": "User Registration - Create a new user on BeezUP",
        "operationId": "Register",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/registerRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Customer registered"
          },
          "400": {
            "description": "Email or password is invalid. Disposable email are refused."
          },
          "409": {
            "description": "Email already used"
          },
          "500": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/v2/public/security/lostpassword": {
      "post": {
        "tags": [
          "Public - Security - Security"
        ],
        "summary": "Lost password",
        "description": "Lost password - Your password will be regenerated and sent to your email",
        "operationId": "LostPassword",
        "parameters": [
          {
            "name": "email",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.Email"
            },
            "description": "Your email",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "New password sent"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Email not found"
          },
          "500": {
            "$ref": "#/responses/GeneralError"
          },
          "502": {
            "description": "Problem with SMTP service",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          }
        }
      }
    },
    "/v2/public/channels/": {
      "get": {
        "tags": [
          "Public - Channels - Public Channels"
        ],
        "summary": "Get public channel index",
        "description": "Use this operation to get the correct link to the channels and to the list of values",
        "operationId": "GetChannelsIndex",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel list regrouped by country and links to list of values",
            "schema": {
              "$ref": "#/definitions/publicChannelIndex"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/public/channels/{countryIsoCode}": {
      "get": {
        "tags": [
          "Public - Channels - Public Channels"
        ],
        "summary": "The channel list for one country",
        "operationId": "GetChannels",
        "parameters": [
          {
            "name": "countryIsoCode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The country iso code alpha 3 based on this: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3#Decoding_table \\\nTo know which country are available you have to use the operation: GetChannelsByCountry\n"
          },
          {
            "$ref": "#/parameters/acceptEncodingRequiredParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The channel list for one country",
            "schema": {
              "$ref": "#/definitions/publicChannelInfoList"
            },
            "examples": {
              "application/json": {
                "channels": [
                  {
                    "name": "Amazon Direct FRA",
                    "homeUrl": "http://www.amazon.fr",
                    "logoUrl": "http://beezupcdn.blob.core.windows.net/comparators/Amazon%2520Direct%2520FRA.png",
                    "types": [
                      "Marketplace"
                    ]
                  }
                ]
              }
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Channel country not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/public/lov/": {
      "get": {
        "summary": "Get all list names",
        "operationId": "GetPublicLovIndex",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "tags": [
          "Public - List of Values - LOV"
        ],
        "responses": {
          "200": {
            "description": "Get the list names",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/publicLovIndex"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/public/lov/{listName}": {
      "get": {
        "tags": [
          "Public - List of Values - LOV"
        ],
        "summary": "Get the list of values related to this list name",
        "operationId": "GetPublicListOfValues",
        "parameters": [
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The list of value name your want to get",
            "type": "string"
          },
          {
            "$ref": "#/parameters/acceptLanguageParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of values",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              },
              "Content-Language": {
                "description": "Indicates the language use in the response",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/publicListOfValuesResponse"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "List not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/lov/": {
      "get": {
        "summary": "Get all list names",
        "operationId": "GetUserLovIndex",
        "tags": [
          "User - List of Values - LOV"
        ],
        "responses": {
          "200": {
            "description": "Get the list names",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userLovIndex"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/lov/{listName}": {
      "get": {
        "tags": [
          "User - List of Values - LOV"
        ],
        "summary": "Get the list of values related to this list name",
        "operationId": "GetUserListOfValues",
        "parameters": [
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The list of value name your want to get",
            "type": "string"
          },
          {
            "$ref": "#/parameters/acceptLanguageParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of values",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              },
              "Content-Language": {
                "description": "Indicates the language use in the response",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userListOfValuesResponse"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "List not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/": {
      "get": {
        "tags": [
          "Customer - Global"
        ],
        "summary": "The index of all operations and LOV",
        "operationId": "GetCustomerIndex",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/customerIndex"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/account": {
      "get": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Get user account information",
        "operationId": "GetUserAccountInfo",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "User account information",
            "schema": {
              "$ref": "#/definitions/accountInfo"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/account/resendEmailActivation": {
      "post": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Resend email activation",
        "operationId": "ResendEmailActivation",
        "responses": {
          "204": {
            "description": "Email activation resent"
          },
          "400": {
            "description": "Email activation not sent because of email problem. Ensure that your email is the correct one.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "429": {
            "description": "Email activation sent recently, must retry later. (One per hour)",
            "headers": {
              "Retry-After": {
                "description": "The duration in second to wait before making another request",
                "type": "integer",
                "default": "60",
                "x-example": "60"
              }
            },
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "409": {
            "description": "Email activation not available because user account already activated.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "502": {
            "description": "Email activate send failed because of our email service. Ensure that your email is the correct one otherwise please contact our support if the problem persists.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/account/activate": {
      "post": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Activate the user account",
        "operationId": "ActivateUserAccount",
        "parameters": [
          {
            "name": "emailActivationId",
            "in": "body",
            "description": "The email activation id received by email.",
            "required": true,
            "schema": {
              "format": "guid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User account activated."
          },
          "403": {
            "description": "Invalid email activation id",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "409": {
            "description": "User account already activated.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/account/personalInfo": {
      "put": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Save user personal information",
        "operationId": "SavePersonalInfo",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/personalInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User account information updated"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/account/companyInfo": {
      "put": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Change company information",
        "operationId": "SaveCompanyInfo",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/companyInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Company information saved"
          },
          "400": {
            "description": "Bad request or invalid VATNumber.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "403": {
            "description": "User not found or unauthorized",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/account/profilePictureInfo": {
      "get": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Get profile picture information",
        "operationId": "GetProfilePictureInfo",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile picture information",
            "schema": {
              "$ref": "#/definitions/profilePictureInfoResponse"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Change user picture information",
        "operationId": "SaveProfilePictureInfo",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/profilePictureInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User profile picture information saved."
          },
          "400": {
            "description": "BadRequest (Url invalid)",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "413": {
            "description": "The picture size is too large",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "415": {
            "description": "The content type of the image must be an image",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/account/creditCardInfo": {
      "get": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Get credit card information",
        "operationId": "GetCreditCardInfo",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "User credit card information",
            "schema": {
              "$ref": "#/definitions/creditCardInfoResponse"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Credit Card not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "503": {
            "description": "We are unable to get your credit card info. This is a temporary state. Please retry later",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Save user credit card info",
        "operationId": "SaveCreditCardInfo",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Credit card info",
            "required": true,
            "schema": {
              "$ref": "#/definitions/creditCardInfo"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The credit card information has been accepted for processing, the authorization will be processed shortly."
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "502": {
            "description": "Communication problem with our payment service",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/account/changeEmail": {
      "post": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Change user email",
        "operationId": "ChangeEmail",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeEmailRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Email updated"
          },
          "400": {
            "description": "New email does not respect the emails's constraints",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/account/changePassword": {
      "post": {
        "tags": [
          "Customer - Account"
        ],
        "summary": "Change user password",
        "operationId": "ChangePassword",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changePasswordRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Password updated"
          },
          "400": {
            "description": "Old password is invalid or the new password does not respect the password's constraints",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/security/logout": {
      "post": {
        "tags": [
          "Customer - Security"
        ],
        "summary": "Log out the current user from go2",
        "description": "Log out the current user from go2",
        "operationId": "Logout",
        "responses": {
          "204": {
            "description": "User logout"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/zendeskToken": {
      "get": {
        "tags": [
          "Customer - Security"
        ],
        "summary": "Zendesk token",
        "description": "Zendesk token - Generates a JWT token to access BeezUP restricted Help Center in SSO as described here: https://support.zendesk.com/hc/en-us/articles/222874768-Using-restricted-Help-Center-content-with-the-Web-Widget",
        "operationId": "ZendeskToken",
        "responses": {
          "200": {
            "description": "A JWT token to connect the Zendesk Web Widget",
            "schema": {
              "$ref": "#/definitions/zendeskToken"
            }
          },
          "500": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/stores": {
      "get": {
        "tags": [
          "Customer - Stores"
        ],
        "summary": "Get store list",
        "operationId": "GetStores",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Store list",
            "schema": {
              "$ref": "#/definitions/storeList"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "Customer - Stores"
        ],
        "summary": "Create a new store",
        "operationId": "CreateStore",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createStoreRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The store has been created successfully. The http header Location contains the new resource url. The body contains the link to the new resource.",
            "schema": {
              "$ref": "#/definitions/links.getStoreLink"
            }
          },
          "402": {
            "description": "The maximum amount of store has been reached. Please upgrade your contract.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessagePaymentRequired"
            }
          },
          "409": {
            "description": "The customer has a store with the same name",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/stores/{storeId}": {
      "get": {
        "tags": [
          "Customer - Stores"
        ],
        "summary": "Get store's information",
        "operationId": "GetStore",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The store information",
            "schema": {
              "$ref": "#/definitions/store"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Store not found or not authorized",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Customer - Stores"
        ],
        "summary": "Update some store's information.",
        "description": "Update some store's information. FYI, you cannot change the country.\n",
        "operationId": "UpdateStore",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateStoreRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Store updated"
          },
          "404": {
            "description": "Store not found or customer not the owner",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "409": {
            "description": "The store name already used",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "Customer - Stores"
        ],
        "summary": "Delete a store",
        "operationId": "DeleteStore",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "204": {
            "description": "Store deleted"
          },
          "404": {
            "description": "Store not found or customer not the owner",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/stores/{storeId}/rights": {
      "get": {
        "tags": [
          "Customer - Rights"
        ],
        "summary": "Get store's rights",
        "operationId": "GetRights",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "The store's rights",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/functionalityRightInfo"
              }
            }
          },
          "404": {
            "description": "Store not found or not authorized",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/stores/{storeId}/alerts": {
      "get": {
        "tags": [
          "Customer - Alerts"
        ],
        "summary": "Get store's alerts",
        "operationId": "GetStoreAlerts",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "User account alerts information",
            "schema": {
              "$ref": "#/definitions/storeAlerts"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Store not found or not authorized",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "Customer - Alerts"
        ],
        "summary": "Save store alerts",
        "description": "You just have to send the alert you want to update, does not need all alerts. (PARTIAL UPDATE ACCEPTED)",
        "operationId": "SaveStoreAlerts",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/saveStoreAlertsRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Store alerts saved"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Store not found or not authorized",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/stores/{storeId}/shares": {
      "get": {
        "tags": [
          "Customer - Shares"
        ],
        "summary": "Get shares related to this store",
        "operationId": "GetStoreShares",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The sharing list of the store",
            "schema": {
              "$ref": "#/definitions/storeShares"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Store not found or customer not the owner",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "Customer - Shares"
        ],
        "summary": "Share a store to another user",
        "operationId": "ShareStore",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "email",
            "in": "body",
            "description": "Your friend's email",
            "required": true,
            "schema": {
              "$ref": "#/definitions/friendEmail"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Store shared"
          },
          "402": {
            "description": "Free offer is not allowed to share store.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessagePaymentRequired"
            }
          },
          "404": {
            "description": "Only the owner of the store can make this operation or user not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/stores/{storeId}/shares/{userId}": {
      "delete": {
        "tags": [
          "Customer - Shares"
        ],
        "summary": "Delete a share of a store to another user",
        "operationId": "DeleteStoreShare",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The friend user id",
            "required": true,
            "type": "string",
            "format": "guid"
          }
        ],
        "responses": {
          "204": {
            "description": "Share deleted"
          },
          "404": {
            "description": "Store not found or customer not the owner",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/friends/{userId}": {
      "get": {
        "tags": [
          "Customer - Friends"
        ],
        "summary": "Get friend information",
        "operationId": "GetFriendInfo",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "Your friend user id",
            "required": true,
            "type": "string",
            "format": "guid"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get friend info",
            "schema": {
              "$ref": "#/definitions/userFriendInfo"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/billingPeriods": {
      "get": {
        "tags": [
          "Customer - Contracts"
        ],
        "summary": "Get billing periods conditions",
        "operationId": "GetBillingPeriods",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the billing periods conditions",
            "schema": {
              "$ref": "#/definitions/billingPeriodList"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/offers": {
      "get": {
        "tags": [
          "Customer - Contracts"
        ],
        "summary": "Get all standard offers",
        "operationId": "GetStandardOffers",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all standard offers",
            "schema": {
              "$ref": "#/definitions/standardOffers"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "Customer - Contracts"
        ],
        "summary": "Get offer pricing",
        "description": "Get the offer pricing then you can create your contract with the same request parameters. /v2/user/customer/contracts\n",
        "operationId": "GetOffer",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/offerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get the offer proposal considering your current contract",
            "schema": {
              "$ref": "#/definitions/offer"
            }
          },
          "400": {
            "description": "Bad request. (Invalid billing period, invalid offer, etc.). You cannot get a pricing for a free offer.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "403": {
            "description": "You current contract is not modifiable. Please choose another offer.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/contracts": {
      "get": {
        "tags": [
          "Customer - Contracts"
        ],
        "summary": "Get contract list",
        "operationId": "GetContracts",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract list",
            "schema": {
              "$ref": "#/definitions/contracts"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "Customer - Contracts"
        ],
        "summary": "Create a new contract",
        "description": "Now you are ready to create your contract. Before that, please ensure that you check the offer with the same request parameterts. /offers\n",
        "operationId": "CreateContract",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createContract"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New contract has been created. Some warnings can be present in response.",
            "schema": {
              "$ref": "#/definitions/createContractResponse"
            }
          },
          "400": {
            "description": "Bad request. (Invalid billing period, invalid offer, etc.)",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "403": {
            "description": "The contract is not modifiable or the coupon offer has been already used",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/contracts/current/disableAutoRenewal": {
      "post": {
        "tags": [
          "Customer - Contracts"
        ],
        "summary": "Schedule termination of your current contract at the end of the commitment.",
        "description": "By default your contract are automatically renew. By calling this operation you can disable the auto renewal.",
        "operationId": "TerminateCurrentContract",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Indicate the termination reason",
            "required": true,
            "schema": {
              "$ref": "#/definitions/terminateContract"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Your current contract termination has been scheduled"
          },
          "400": {
            "description": "Invalid reason type",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "No current contract",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/contracts/current/reenableAutoRenewal": {
      "post": {
        "tags": [
          "Customer - Contracts"
        ],
        "summary": "Reactivate your terminated contract.",
        "description": "By calling this operation you can re-enable the auto renewal.",
        "operationId": "ReactivateCurrentContract",
        "responses": {
          "204": {
            "description": "Your current contract has been resumed"
          },
          "404": {
            "description": "No current contract",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/contracts/next": {
      "delete": {
        "tags": [
          "Customer - Contracts"
        ],
        "summary": "Delete your next contract",
        "operationId": "DeleteNextContract",
        "responses": {
          "204": {
            "description": "Next contract has been deleted"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/customer/invoices": {
      "get": {
        "tags": [
          "Customer - Invoices"
        ],
        "summary": "Get all your invoices",
        "operationId": "GetInvoices",
        "parameters": [
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all invoices of a customer",
            "schema": {
              "$ref": "#/definitions/invoiceList"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/": {
      "get": {
        "tags": [
          "Catalogs - Global"
        ],
        "operationId": "CatalogIndex",
        "summary": "Get the index of the catalog API",
        "description": "The operation will give you all the operations you will be able to do and all the LOV used in this API.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/catalogIndex"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/beezupColumns": {
      "get": {
        "tags": [
          "Catalogs - Global"
        ],
        "operationId": "Catalog_GetBeezUPColumns",
        "summary": "Get the BeezUP columns",
        "description": "Get the BeezUP columns, this columns are used for mapping during the manual catalog importation process.",
        "responses": {
          "200": {
            "description": "The catalog API index",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/beezUPColumnConfiguration"
              }
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "CatalogStoreIndex",
        "summary": "Get the index of the catalog API for this store",
        "description": "The operation will give you all the operations you will be able to do on this store for this API.",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "The catalog index",
            "schema": {
              "$ref": "#/definitions/catalogStoreIndex"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/inputConfiguration": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Importation_GetManualUpdateLastInputConfig",
        "summary": "Get the last input configuration",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/lastManualImportInputConfiguration"
            }
          },
          "404": {
            "description": "StoreId or Manual Update last configuration not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/catalogColumns": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetCatalogColumns",
        "summary": "Get catalog column list",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog column list",
            "schema": {
              "$ref": "#/definitions/catalogColumnList"
            }
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/catalogColumns/{columnId}/rename": {
      "post": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_ChangeCatalogColumnUserName",
        "summary": "Change Catalog Column User Name",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/catalogColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeUserColumnNameRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog column user name changed"
          },
          "400": {
            "description": "When a user column name is duplicate.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when a catalog column is not found.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetCustomColumns",
        "summary": "Get custom column list",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom column list",
            "schema": {
              "$ref": "#/definitions/customColumnList"
            }
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns/{columnId}": {
      "put": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_SaveCustomColumn",
        "summary": "Create or replace a custom column",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createCustomColumnRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column saved"
          },
          "400": {
            "description": "Occurs when a catalog custom column id is already used by a catalog column.\nWhen the catalog custom column count limit has been reached.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store."
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "summary": "Delete custom column",
        "operationId": "Catalog_DeleteCustomColumn",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column deleted"
          },
          "403": {
            "description": "Occurs when the parent category is not found.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "409": {
            "description": "When a catalog importation is already in progress!",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns/{columnId}/rename": {
      "post": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "summary": "Change Custom Column User Name",
        "operationId": "Catalog_ChangeCustomColumnUserName",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeUserColumnNameRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column renamed"
          },
          "400": {
            "description": "When a user column name is duplicate.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when a catalog column is not found.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns/{columnId}/expression": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "summary": "Get the encrypted custom column expression",
        "operationId": "Catalog_GetCustomColumnExpression",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          }
        ],
        "responses": {
          "200": {
            "description": "Encrypted expression",
            "schema": {
              "type": "string",
              "example": "zlkzjkzjlzlknzklnzlknaklnaklanlknaklan"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when a catalog custom column is not found."
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "summary": "Change custom column expression",
        "operationId": "Catalog_ChangeCustomColumnExpression",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/customColumnId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/changeCustomColumnExpressionRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Custom column expression saved"
          },
          "403": {
            "description": "Occurs when the user try to change a custom column related to a Category. If you want to change this custom column expression you have to make a new manual importation.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "Occurs when a user tries to work on the wrong store.\nOccurs when a catalog custom column is not found.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/customColumns/computeExpression": {
      "post": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "summary": "Compute the expression for this catalog.",
        "operationId": "Catalog_ComputeExpression",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/computeExpressionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compute an expression",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Occurs when the expression cannot be computed",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/categories": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetCategories",
        "summary": "Get category list",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "Accept-Encoding",
            "description": "Indicates that the client accepts that the response will be compressed to reduce traffic size.",
            "in": "header",
            "required": true,
            "type": "array",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Categories",
            "headers": {
              "Content-Encoding": {
                "description": "Indicates the compression use in the response",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/categoryList"
            }
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/products/list": {
      "post": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetProducts",
        "summary": "Get product list",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/getProductsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product list",
            "schema": {
              "$ref": "#/definitions/productList"
            }
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/products/random": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetRandomProducts",
        "summary": "Get random product list",
        "description": "We will return 10 products randomly selected with all product values",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Random product list",
            "schema": {
              "$ref": "#/definitions/randomProductList"
            }
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/products/{productId}": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetProductByProductId",
        "summary": "Get product by ProductId",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "productId",
            "description": "The product identifier you want to get",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "guid"
          }
        ],
        "responses": {
          "200": {
            "description": "Product",
            "schema": {
              "$ref": "#/definitions/product"
            }
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/products": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetProductBySku",
        "summary": "Get product by Sku",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "sku",
            "description": "The product sku you want to get",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Product",
            "schema": {
              "$ref": "#/definitions/product"
            }
          },
          "404": {
            "description": "StoreId or Product not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/products/batches/{actionType}": {
      "post": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_PushProductBatch",
        "summary": "Push product batches",
        "deprecated": true,
        "description": "**Deprecated.** Use the verb-based endpoints on `/{storeId}/product-batches` instead:\n- `PUT` to replace products (REPLACE)\n- `PATCH` to merge products (MERGE)\n- `DELETE` to delete products (DELETE)\n\nThe importation will automatically start if one of the following condition occured:\n- after 1 minutes delay,\n- when you reach 50 batches\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "actionType",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "ProductActionType",
            "description": "Possible Values:\n- REPLACE: Add or replace the existing product. If there is any custom column already declared on the catalog, the custom columns computation will be applied on the fly based on the product properties provided in the message\n- MERGE: Update the product properties of the existing product.\n      You cannot remove a product property using this action type, you must using REPLACE action type for that.\n      If there is any custom column already declared on the catalog, the custom columns computation will be applied on the fly based on the product properties provided in the message if it's possible or asynchronously.\n- DELETE: Simply delete the product\n"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 1000,
              "uniqueItems": true,
              "items": {
                "$ref": "#/definitions/pushProductRequest"
              }
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_Import_Operation_Request_Accepted"
          },
          "400": {
            "$ref": "#/responses/400_Request_Invalid"
          },
          "404": {
            "$ref": "#/responses/404_Store_NotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{batchId}/getReportUrl": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetReportingByBatchId",
        "summary": "Get Reporting By BatchId",
        "deprecated": true,
        "description": "**Deprecated.** Use the new batch tracking flow instead:\n1. `GET /{storeId}/product-batches/{batchId}` to obtain the `correlationId`.\n2. `GET /{storeId}/product-batches/{batchId}/reports/{correlationId}` to fetch the report.\n\nGet Reporting By BatchId.\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "batchId",
            "description": "The product batchId you want to get",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "BatchId"
          }
        ],
        "responses": {
          "303": {
            "$ref": "#/responses/303_Import_Operation_GetReportUrl_SeeOther"
          },
          "409": {
            "description": "Get Reporting is not ready yet. Please retry after 1mn.",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/product-batches": {
      "put": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_ReplaceProductBatch",
        "summary": "Replace products",
        "description": "Push a batch of products to be added or replaced (REPLACE).\n\nThe importation will automatically start if one of the following condition occured:\n- after 1 minutes delay,\n- when you reach 50 batches\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 1000,
              "uniqueItems": true,
              "items": {
                "$ref": "#/definitions/pushProductRequest"
              }
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_Import_Operation_Request_Accepted"
          },
          "400": {
            "$ref": "#/responses/400_Request_Invalid"
          },
          "404": {
            "$ref": "#/responses/404_Store_NotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_MergeProductBatch",
        "summary": "Merge products",
        "description": "Push a batch of products to be merged (MERGE).\nYou cannot remove a product property using this action; use the `PUT` (REPLACE) endpoint for that.\n\nThe importation will automatically start if one of the following condition occured:\n- after 1 minutes delay,\n- when you reach 50 batches\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 1000,
              "uniqueItems": true,
              "items": {
                "$ref": "#/definitions/pushProductRequest"
              }
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_Import_Operation_Request_Accepted"
          },
          "400": {
            "$ref": "#/responses/400_Request_Invalid"
          },
          "404": {
            "$ref": "#/responses/404_Store_NotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_DeleteProductBatch",
        "summary": "Delete products",
        "description": "Push a batch of product SKUs to be deleted (DELETE).\n\nThe importation will automatically start if one of the following condition occured:\n- after 1 minutes delay,\n- when you reach 50 batches\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 1000,
              "uniqueItems": true,
              "items": {
                "$ref": "#/definitions/sku"
              }
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_Import_Operation_Request_Accepted"
          },
          "400": {
            "$ref": "#/responses/400_Request_Invalid"
          },
          "404": {
            "$ref": "#/responses/404_Store_NotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/product-batches/{batchId}": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetProductBatchStatus",
        "summary": "Get product batch status",
        "description": "Get the tracking information of a previously submitted product batch.\n\n- When `isStarted` is `false`, the batch hasn't been picked up yet by the importation engine and no `correlationId` is available.\n- When `isStarted` is `true`, a `correlationId` is returned and the report can be fetched via `GET /{storeId}/product-batches/{batchId}/reports/{correlationId}`.\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "batchId",
            "description": "The product batch identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "BatchId"
          }
        ],
        "responses": {
          "200": {
            "description": "The product batch tracking information",
            "schema": {
              "$ref": "#/definitions/productBatchStatusResponse"
            }
          },
          "404": {
            "description": "The batch is not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/product-batches/{batchId}/reports/{correlationId}": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetBatchReport",
        "summary": "Get product batch report",
        "description": "Get the report of a product batch importation.\nReturns a `303 See Other` redirect to the URL where the report can be downloaded.\n\nThe `correlationId` is the one returned by `GET /{storeId}/product-batches/{batchId}`.\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "batchId",
            "description": "The product batch identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "BatchId"
          },
          {
            "name": "correlationId",
            "description": "The correlation identifier returned by the batch status endpoint",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "Guid"
          }
        ],
        "responses": {
          "303": {
            "$ref": "#/responses/303_Import_Operation_GetReportUrl_SeeOther"
          },
          "404": {
            "description": "The batch or its report is not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/beezUPColumns": {
      "get": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_GetBeezUPColumnMapping",
        "summary": "Get the BeezUPColumns' Mapping of a Store",
        "description": "Get the BeezUPColumns' Mapping of a Store.\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "BeezUPColumns' Mapping of a Store",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/beezUPColumnMapping"
              }
            }
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_PatchBatchBeezUPColumnMapping",
        "summary": "Patch the BeezUPColumns' Mapping of a Store.",
        "description": "Patch the BeezUPColumns' Mapping of a Store.\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/beezUPColumnMappingBatchRequestItem"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "BeezUPColumns' Mapping of a Store Patched"
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_PutBatchBeezUPColumnMapping",
        "summary": "Replace the BeezUPColumns' Mapping of a Store.",
        "description": "Replace the BeezUPColumns' Mapping of a Store.\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/beezUPColumnMappingBatchRequestItem"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "BeezUPColumns' Mapping of a Store Replaced"
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/beezUPColumns/{beezUPColumnName}": {
      "put": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_PutBeezUPColumnMapping",
        "summary": "Replace the BeezUPColumns' Mapping of a Store.",
        "description": "Replace the BeezUPColumns' Mapping of a Store.\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/beezUPColumnNameParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/beezUPColumnMappingRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "BeezUPColumn' Mapping saved"
          },
          "404": {
            "description": "StoreId or BeezUPColumnName or ColumnId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "Catalogs - Catalog"
        ],
        "operationId": "Catalog_DeleteBeezUPColumnMapping",
        "summary": "Delete the BeezUPColumn' Mapping of a Store.",
        "description": "Delete the BeezUPColumn' Mapping of a Store.\n",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/beezUPColumnNameParameters"
          }
        ],
        "responses": {
          "204": {
            "description": "BeezUPColumn' Mapping deleted"
          },
          "404": {
            "description": "StoreId or BeezUPColumnName not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/importations": {
      "get": {
        "tags": [
          "Catalogs - Importation Process"
        ],
        "summary": "Get the latest catalog importation reporting for all your stores",
        "operationId": "Importation_GetReportingsAllStores",
        "responses": {
          "200": {
            "description": "The last importation reportings",
            "schema": {
              "$ref": "#/definitions/importationsPerStoreResponse"
            }
          },
          "404": {
            "description": "UserId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/importations": {
      "get": {
        "tags": [
          "Catalogs - Importation Process"
        ],
        "summary": "Get the latest catalog importation reporting",
        "operationId": "Importation_GetReportings",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "The last importation reportings",
            "schema": {
              "$ref": "#/definitions/importationsResponse"
            }
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/importations/start": {
      "post": {
        "tags": [
          "Catalogs - Importation Process"
        ],
        "summary": "Start Manual Import",
        "operationId": "Importation_StartManualUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/startManualImportRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/importStarted"
          },
          "400": {
            "description": "Missing Input configuration in the request\nOccurs when there is a duplicate file number in the input configuration\nOccurs when there is a duplicate file Uri in the input configuration",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "404": {
            "description": "StoreId not found",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "409": {
            "$ref": "#/responses/importAlreadyInProgress"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}": {
      "get": {
        "tags": [
          "Catalogs - Importation Process"
        ],
        "summary": "Get the importation status",
        "operationId": "Importation_GetImportationMonitoring",
        "parameters": [
          {
            "$ref": "#/parameters/storeIdOnlyGeneralParameters"
          },
          {
            "$ref": "#/parameters/executionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/importationMonitoring"
            }
          },
          "404": {
            "description": "ExecutionId not found or not yet synchronized. If not synchronized within 30 sec after the import has been started, please contact our support",
            "schema": {
              "$ref": "#/definitions/BeezUP.Common.ErrorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/v2/user/catalogs/{storeId}/importations/{executionId}/cancel": {
      "post": {
        "tags": [
          "Catalogs - Importation Process"
        ],
        "summary": "Cancel importation",
[...]
